.contentBotArea{
    float: left;
    width: 100%;
}

.titlePage{
    margin-top:15px;
    background-color: #1E1E1E;
    color: white;
    padding:15px 0px 15px 15px;
    font-size: 1.2em;
    margin-left: 15px;
    margin-right: 15px;
}

.titleContentBot{
    background: #D10000;
    color: white;
    padding: 10px;
    margin-top:10px;
    float: left;
    width: 100%;
}
.titleLeft{
    float: left;
    color: white;
    font-size: 1.6em;

}
.viewmore{
    float: right;
    margin-top:6px;
    color:#E8CF01;
}
.dataContentBot{
    /* min-height: 500px; */
    float: left;
    width: 100%;
}

.bootCols{
    height:100px;
    margin:0;
    box-sizing:border-box;
    padding:5px;
    border:2px solid black;
    background-color:red;
  }
  .row{
      margin-left:0px;
      margin-right: 0px;
  }
  .newsArea{
      height: auto;
      margin-top: 10px;
      /* border: 2px solid red; */
      padding: 0px;
      min-height: 300px;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-left:5px;
      padding-right:5px;
  }
  
  .cardNews{
    height: 100%;
    border: 2px solid #D2AE70;
  }
  .image-news{
      height: calc( 100% - 70px );
      background-size: cover;
      background-position: center;
  }
  .text-news{
      padding:10px;
      border-top:1px solid #D2AE70;
      color:white;
      min-height: 50px;
      
  }

    .pagination{
        margin-top:15px;
        color: white !important;
    }
    .ngx-pagination a, .ngx-pagination button {
        color: white !important;
    }
    .ngx-pagination a, .ngx-pagination button {
        color: white !important;
    }

    .promotion img{
        width: 100%;
    }
    .promotion_div{
        position: relative;
    }


    .mouse_hover:hover {
        transform: scale(1.1, 1.1);
        opacity: 1;
    }
    
    .mouse_hover {
        transition: 0.3s ease;
        cursor: pointer;
    }

    .slides li.carousel-item {
        position: relative;
        margin: 0 0px 0 0;
        overflow: hidden;
        color: #fff;
    }
    
    li.carousel-item:hover .carousel-heading-hover {
    opacity: 1;
    bottom: 0;
    }
    
    li.carousel-item:hover .top-carousel-heading {
    opacity: 0
    }
    
    li.carousel-news-item:hover .carousel-heading-hover {
    opacity: 1;
    bottom: 0;
    }
    
    li.carousel-news-item:hover .top-carousel-heading {
    opacity: 0
    }
    .carousel-item {
        display: block;
        overflow: hidden;
    }
    .top-carousel-img img {
        /*border: solid 2px #ffbf00;*/
        border-radius: 5px;
        margin-bottom: 10px;
      }

      .top-carousel-title-hover{
        position: relative;
        margin: 0 0px 0 0;
        overflow: hidden;
        color: #fff;
    }
    .top-carousel-title{
        color: #fff;
    }
    .top-carousel-heading {
        position: absolute;
        bottom: 0;
        padding: 5%;
        text-align: center;
        width: 100%;
        opacity: 1;
        font-size: 12px;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        background-color: rgba(0, 0, 0, 0.52);
        margin-bottom: 10px;
        border-radius: 0px 0px 5px 5px;
      }
    .carousel-heading-hover {
        position: absolute;
        bottom: 100%;
        padding: 15% 5%;
        text-align: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        /* margin-top: 50px; */
        transition: .5s ease-in-out;
        background-color: rgba(0, 0, 0, 0.52);
        margin-bottom: 10px;
        border-radius: unset;
    }
    .product_type_simple {
        color: #ecd542;
        font-size: 25px;
      }






@media screen and (min-width: 1024px) {
    .promotion img{
        width: unset;
        margin-left: calc( 50% - 320px );
    }
}
@media screen and (min-width: 1200px) {
    .promotion img{
        margin-left: calc( 50% - 320px );
    }
}