<div  class="container">
    <div  class="titlePage">Game</div>
    <div  class="contentPageArea">
        <div  class="text_center text_yellow sz15">เข้าสู่ระบบโดยใช้ User ID ของคุณลูกค้า</div>
        <div  class="text_center">(เพื่อให้ง่ายต่อความเข้าใจ) กรณีเข้าหน้าเว็บแล้วเป็นภาษาอังกฤษ ให้กดเปลี่ยนภาษาเป็น "ภาษาไทย"</div>
        <div  class="img_center"><img  alt="" src="assets/images/sport/TH.jpg"></div>
        <div  class="text_center text_black  sz15 bg_animate">เกมส์ sanook928</div>
        <div  class="titleContent">
            <div  class="dataContentBot">
                <div  class="sz12 text_center mgt15">เรื่องเกมส์ในการเดิมพันจะต้องพูดถึงเว็บ sanook928 ที่มีเกมส์ให้เดิมพันมากสุดถึง 9 เกมส์เลยทีเดียว โดยที่ทำให้ผู้คนมีการสมัครเข้ามาเล่นมากมาย คือ เกมส์เสื้อแดงเสื้อเหลือง เกมส์ป๊อกเด้ง เป็นต้น ซึ่งในระบบเกมส์นั้นมีความโปร่งใส ไม่โกง ท่านสามารถตรวจสอบได้ โดยท่านสามารถดูสถิติการออกผลรางวัลย้อนหลังได้ และที่สำคัญในระบบการออกผลรางวัลนั้นมีการออกผลรางวัลด้วยระบบคอมพิวเตอร์ใช้หลักการระบบสุ่มผล ที่ทำให้ท่านแน่ใจว่ารางวัลแต่ละครั้งที่ออกมานั้นไม่มีคนหรือกลุ่มคน ควบคุมการออกผล และในทั้งหมดของเกมส์นั้นมีอะไรบ้างเรามาดูกัน</div>
                <div  class="text_center text_black  sz15 bg_animate mgt15">เกมส์เสื้อแดงเสื้อเหลือง</div>
                <div  class="sz12 text_center mgt15">จะว่าเกมส์นี้เป็นที่นิยมมากันเลยทีเดียวในเว็บนี้ ซึ่งเป็นเกมส์ที่เล่นง่ายๆ หลักการเล่นคือให้เลือกเสื้อสีแดงหรือสีเหลืองเท่านั้นเอง โดยหากแทงถูกท่านจะได้อยู่ที่ 0.95 หากท่านแทงผิดท่านก็เสีย 1.00</div>
                <div  class="img50"><img  alt="" class="img100" src="assets/images/game/a3-1.jpg"></div>
                <div  class="text_center text_black  sz15 bg_animate mgt15">เสื้อแดง เสื้อสองสี เสื้อเหลือง</div>
                <div  class="sz12 text_center mgt15"> วิธีเล่นก็คล้ายกับเสื้อแดงเสื้อเหลืองที่กล่าวไว้ด้านบน แต่เพิ่มเสื้อสองสีเพิ่มขึ้นมา โดยถ้าท่านแทงถูกเสื้อสองสี ท่านจะได้ 0.95 และหากท่านทายเสื้อสีเหลืองหรือเสื้อสีแดงถูกท่านก็จะได้ที่ 2.00 เหตุทำไมอัตราการถูกไม่เท่ากัน เหตุก็เพราะว่า อัตราการออกรางวัลเสื้อสองสีมีอัตรามากกว่าเสื้อสีเหลืองหรือสีแดง </div>
                <div  class="img50"><img  alt="" class="img100" src="assets/images/game/a3-2.jpg"></div>
                <div  class="text_center text_black  sz15 bg_animate mgt15">กำถั่ว</div>
                <div  class="sz12 text_center mgt15"> เป็นเกมส์ที่นำถั่วที่มีสีทั้งหมด 4 สี คือ เหลือง เขียว แดง และก็ขาว นำมารวมกันและคัดออกผลรางวัลเพียง 3 เม็ด ซึ่งจะให้ทายว่าจะออกอะไร ท่านสามารถทายถั่วสีตั้งแต่ 1-3 เม็ด แต่ละที่ท่านแทงก็มีอัตราแบ่งออกกันไปเช่น หากทายเพียง 1 เม็ด หรือ ทาย 2 เม็ด หากทายถูกท่านก็จะได้ 0.95 และหากท่านเลือกทาย 3 เม็ด หากท่านทายถูกท่านก็จะได้ 0.31 </div>
                <div  class="img50"><img  alt="" class="img100" src="assets/images/game/a3-3.jpg"></div>
                <div  class="text_center text_black  sz15 bg_animate mgt15">น้ำเต้าปูปลา</div>
                <div  class="sz12 text_center mgt15"> หากท่านได้ยินคำนี้ท่านส่วนใหญ่จะรู้จักและเล่นเป็น sanook928 ได้นำการเดิมพันนี้เข้ามาอยู่ในส่วนเกมส์การเดิมพัน เป็นที่แน่นอนว่ามีผู้เล่นสนใจเล่นกันมาก ในแต่ละการออกผลรางวัลสำหรับเกมส์น้ำเต้าปูปลานั้นจะออกทั้งหมด 3 ตัว ให้ทายว่าจะออกตัวอะไรบ้างมีตัวอะไรบ้าง คือ ปู ปลา น้ำเต้า เสื้อ ไก่ และกุ้ง แต่ละตัวสามารถออกได้ 1-3 ตัว ยกตัวอย่างเช่น สมมติออกตัวไก่สามารถออกไก่ได้ 3 ตัวเลยทีเดียว </div>
                <div  class="img50"><img  alt="" class="img100" src="assets/images/game/a3-4.jpg"></div>
                <div  class="text_center text_black  sz15 bg_animate mgt15">ผลไม้</div>
                <div  class="sz12 text_center mgt15"> ถ้าหากดูชื่อแล้วอาจจะดูเป็นเกมส์ที่ธรรมดา เล่นกันง่ายๆ แต่จริงๆแล้วถ้าหากท่านได้เล่นหรือลองสัมผัสดูแล้วก็ จะว่าง่ายก็ไม่ง่าย จะบอกว่ายากก็ไม่ยาก เพราะหลักๆแล้วคือให้ทายผลไม้ที่มีทั้งหมด 12 ลูกให้ถูก ซึ่งแต่ละการออกรางวัลนั้นจะออกเพียงแค่ผลไม้ 1 ลูกเท่านั้น ถ้าหากดูไปแล้วเป็นการเล่นเกมสืที่ยากเหลือเกิน แต่ใน 1 รอบเราสามารถเลือกผลไม้ได้หลายลูกหลายชนิด ซึ่งทำให้เพิ่มโอกาสถูกได้อีก และถ้าหากทายถูกท่านก็จะได้รางวัลถึง 12 เท่าเลยทีเดียว </div>
                <div  class="img50"><img  alt="" class="img100" src="assets/images/game/a3-5.jpg"></div>
                <div  class="text_center text_black  sz15 bg_animate mgt15">ไฮโล</div>
                <div  class="sz12 text_center mgt15"> เป็นเกมส์ที่ใช้ลูกเต๋าที่มี 6 หน้า มีตั้งแต่เลขตั้งแต่ 1-6 ใช้ลูกเต๋า 3 ลูกโยนพร้อมกัน และเปิดให้เดิมพันกัน ทำไมต้องเป็นชื่อ "ไฮโล" ซึ่งแปลว่า สูงต่ำ ก็เพราะหลักการเล่นที่คนที่นิยมกันเล่นคือ สูงต่ำ คือทายแต้มลูกเต๋า 3 ลูกบวกกัน คือถ้าออกผลบวกมาเป็น 3 ถึง 10 ถือว่าแต้ม ต่ำ และถ้าผลออกมารวมกันเป็น 12-18 แปลว่า สูง และถ้าแต้มรวมกันเป็น 11 แต้ม ถือว่า เป็น ไฮโล หากท่านแทงถูกรางวัลนี้ท่านก็จะได้รับถึง 6 เท่าเลยทีเดียว ซึ่งจริงๆแล้วหลัการเล่นไม่จำเป็นต้องแทง สูง-ต่ำ ท่านอาจจะเต็งเลขหน้าลูกเต๋า ก็เป็นได้ ขึ้นอยู่ที่ท่านแทง </div>
                <div  class="img50"><img  alt="" class="img100" src="assets/images/game/a3-6.jpg"></div>
                <div  class="text_center text_black  sz15 bg_animate mgt15">ป๊อกเด้ง</div>
                <div  class="sz12 text_center mgt15"> เป็นเกมส์หรือไพ่ที่คนไทยนิยมกัน คือเล่นง่ายๆ แต่ละเกมส์เล่นจบไว หลักการเล่นก็คือ ถ้าหากใน 2 ใบแรกไพ่ในมือรวมแต้มเป็น 8 หรือ 9 ถือว่าป๊อก และถือว่าเป็นไพ่ที่สูง ถ้าหากไพ่ดอกเดียวกันถือว่าเด้ง ไพ่จะถือว่าสูงที่สุด หากแต้มต่ำกว่ารวมกันไม่ถึง 5 จะหยิบไพ่ที่ 3 อัตโนมัติ เพื่อสู้ไพ่ที่มี 2 ใบ คือแต้ม 7 6 5 ในไพ่ 3 ใบนั้นจะเรียงแต้มสูงดังนี้
                    <ul  style="text-align:left;">
                        <li >ตอง คือ ไพ่เหมือนกัน</li>
                        <li >สเตจฟลัด คือ ไพ่เรียงกัน 3 ใบ และดอกเดียวกัน</li>
                        <li >เรียง คือ ไพ่เรียงกัน 3 ใบ สูงสุดที่ O K A</li>
                        <li >เหลือง คือ ได้ไพ่ที่มีขอบ เช่น J Q K</li>
                        <li >ดอก คือ ไพ่ที่มีดอกเดียวกัน</li>
                        <li >แต้ม คือ แต้ม 9 สูงสุด</li>
                    </ul> ส่วนหลักการเดิมพันป๊อกเด้งใน sanook928 นั้นคือให้เลือกทั้งหมด 6 มือมือไหนก็ได้ หรือสามารถเลือกได้หลายมือ เพื่อที่จะให้ชนะเจ้ามือ </div>
                <div  class="img50"><img  alt="" class="img100" src="assets/images/game/a3-7.jpg"></div>
                <div  class="text_center text_black  sz15 bg_animate mgt15">ดราก้อน ไทเกอร์</div>
                <div  class="sz12 text_center mgt15"> เป็นเกมส์หรือไพ่ที่แต่ละฝั่งไม่ว่าเจ้ามือหรือผู้เล่นจะเปิดไพ่ขึ้นมาแค่ใบเดียวและวัดแต้มกัน หลักการเล่นง่ายๆ คือเลือกฝั่งที่ท่านคิดว่าจะออกไพ่สูง หรือ ฝั่ง TIE หากท่านคิดว่าไพ่ออกมาเหมือนกัน หากไพ่แต้มเท่ากันทั้ง 2 ฝ่ายจะวัดกันที่ดอกของไพ่ หากท่านทายหรือแทงถูกท่านก็จะได้อยู่ที่ 1 เท่า หากท่านทายว่าเสมอถูก ท่านก็จะได้อยู่ที่ 12 เท่า แต่ยังไม่หมด ถ้าหากท่านทายว่าเสมอถูก และไพ่ออกมาตามดังนี้
                    <ul  style="text-align:left;">
                        <li >ไพ่ออกมาเป็น K และ K ท่านจะได้ 220 เท่า</li>
                        <li >ไพ่ออกมาเป็น 8 และ 8 ท่านจะได้ 110 เท่า</li>
                        <li >ไพ่ออกมาเป็น A และ A ท่านจะได้ 55 เท่า </li>
                    </ul>
                </div>
                <div  class="img50"><img  alt="" class="img100" src="assets/images/game/a3-8.jpg"></div>
                <div  class="text_center text_black  sz15 bg_animate mgt15">ม้าแข่ง</div>
                <div  class="sz12 text_center mgt15"> ถือว่าเป็นกีฬาที่ฮิตหรือนิยมมากที่สุดก็ว่าเลย คือทายว่าม้าตัวไหนจะวิ่งเข้าเส้นชัย โดยทางเว็บ sanook928 ที่ได้นำกีฬาชนิดนี้เข้ามาเพราะหลายคนถามหากันมากมาย และทางเว็บได้จ่ายสูงสุดในม้าที่วิ่งอยู่ที่ 1-4 จะจ่ายอยู่ที่ 1,000 เท่า ถ้าหากท่านทายถูกซึ่งเป็นอัตราการจ่ายที่สูงที่สุด หากท่านดวงดีและโชคเข้าข้างท่าน ท่านก็จะได้รับแบบเต็มๆ และทางเราก็ขอแสดงความยินดีเหมือนกับท่านถูกรางวัลแจ็คพอตเลยทีเดียว </div>
                <div  class="img50"><img  alt="" class="img100" src="assets/images/game/a3-9.jpg"></div>
            </div>
        </div>
    </div>
</div>