<div  class="container">
    <div  class="titlePage">สมัครสมาชิก</div>
    <form   class="form-horizontal ng-untouched ng-pristine ng-valid" novalidate="">
        <fieldset >
            <div style=" margin: auto;
          width: 50%;
          padding: 10px; text-align: center;">
                <a  href="https://www.memberbet.com/" style="text-decoration: none;" target="_bank">
                    <div class="button_play" style="clear: right;">ทางเข้าเล่น</div>
                </a>
            </div>
            <div  class="control-group">
                <label  class="control-label" for="user_name">ชื่อ</label>
                <div  class="controls">
                    <input  class="input-xlarge form-control ng-untouched ng-pristine ng-valid" name="user_name" placeholder="ชื่อ" type="text" ng-reflect-name="user_name">
                </div>
            </div>
            <div  class="control-group">
                <label  class="control-label" for="user_tel">โทร</label>
                <div  class="controls">
                    <input  class="input-xlarge form-control ng-untouched ng-pristine ng-valid" name="user_tel" placeholder="โทร" type="text" ng-reflect-name="user_tel">
                </div>
            </div>
            <div  class="control-group">
                <label  class="control-label" for="user_line">ไอดีไลน์</label>
                <div  class="controls">
                    <input  class="input-xlarge form-control ng-untouched ng-pristine ng-valid" name="user_line" placeholder="ไอดีไลน์" type="text" ng-reflect-name="user_line">
                </div>
            </div>
            <div  class="control-group">
                <div  class="controls">
                    <button  class="btn btn-success" type="submit">สมัครสมาชิก</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>