.active-menu{
  /* background-color: #ddd; */
  /* text-decoration: underline; */
  color: white !important;
  
}
.topnav{
background-size: 100% 60px;
padding-left:0px;
padding-right: 0px;
color:white;
display: none;
}
.topnav .container{
  overflow: unset;
  max-width: unset;
}

.topnav_mobile{
  float: left;
  padding:5px;
  text-align: center;
  width: 100%;
}
.btn_mobile{
  margin-right: 5px;
  margin-top:5px;
  width: 112px !important;
  
  color: black;
  border-bottom: 3px solid #ccc;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffaa2b+0,ffa927+29,ffa927+29,ffa927+37,ffa927+44,ffd181+100 */
  background: rgb(255,170,43); /* Old browsers */
  background: rgba(236,187,94,1);
  background: -moz-linear-gradient(left, rgba(236,187,94,1) 0%, rgba(94,71,27,1) 0%, rgba(236,187,94,1) 50%, rgba(94,71,27,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(236,187,94,1)), color-stop(0%, rgba(94,71,27,1)), color-stop(50%, rgba(236,187,94,1)), color-stop(100%, rgba(94,71,27,1)));
  background: -webkit-linear-gradient(left, rgba(236,187,94,1) 0%, rgba(94,71,27,1) 0%, rgba(236,187,94,1) 50%, rgba(94,71,27,1) 100%);
  background: -o-linear-gradient(left, rgba(236,187,94,1) 0%, rgba(94,71,27,1) 0%, rgba(236,187,94,1) 50%, rgba(94,71,27,1) 100%);
  background: -ms-linear-gradient(left, rgba(236,187,94,1) 0%, rgba(94,71,27,1) 0%, rgba(236,187,94,1) 50%, rgba(94,71,27,1) 100%);
  background: linear-gradient(to right, rgba(236,187,94,1) 0%, rgba(94,71,27,1) 0%, rgba(236,187,94,1) 50%, rgba(94,71,27,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecbb5e', endColorstr='#5e471b', GradientType=1 );

}
@media screen and (min-width: 1100px) {
  .topnav{
    display: block;
  }
  .topnav_mobile{
    display: none;
  }
}
@media screen and (min-width: 1101px) {
  .topnav{
    padding-left:30px;
    padding-right: 30px;
  }
  /* .width_0{
    width: 85px !important;
  }
  .width_2{
    width: 130px !important;
  }
  .width_3{
    width: 120px !important;
  }
  .width_4{
    width: 130px !important;
  } */
  .width_5{
    
  }
  /* .width_6{
    width: 90px !important;
  } */
}
@media screen and (min-width: 1200px) {
  .topnav{
    padding-left:100px;
    padding-right: 100px;
  }
  /* .width_0{
    width: 90px !important;
  }
  .width_2{
    width: 140px !important;
  }
  .width_3{
    width: 102px !important;
  }
  .width_4{
    width: 131px !important;
  } */
  .width_5{

  }
  /* .width_6{
    width: 90px !important;
  } */
  
}

@media screen and (min-width: 1354px) {
  /* .width_0{
    width: 90px !important;
  }
  .width_2{
    width: 140px !important;
  }
  .width_3{
    width: 130px !important;
  }
  .width_4{
    width: 131px !important;
  } */
  .width_5{

  }
  /* .width_6{
    width: 155px !important;
  } */
}


@media screen and (min-width: 1400px) {
  .topnav{
    padding-left:200px;
    padding-right: 200px;
  }
  /* .width_0{
    width: 90px !important;
  }
  .width_2{
    width: 127px  !important;
  }
  .width_3{
    width: 120px !important;
  }
  .width_4{
    width: 121px !important;
  } */
  .width_5{

  }
  /* .width_6{
    width: 90px  !important;
  } */
}

@media screen and (min-width: 1500px) {
  .topnav{
    padding-left:200px;
    padding-right: 200px;
  }
}

@media screen and (min-width: 1600px) {
  .topnav{
    padding-left:200px;
    padding-right: 200px;
  }
}

@media screen and (min-width: 1700px) {
  .topnav{
    padding-left:300px;
    padding-right: 300px;
  }
}

@media screen and (min-width: 1900px) {
  .topnav{
    padding-left:382px;
    padding-right: 382px;
  }
  /* .width_0{
    width: 96px  !important;
  }
  .width_2{
    width: 139px  !important;
  }
  .width_3{
    width: 120px !important;
  }
  .width_4{
    width: 121px !important;
  } */
  .width_5{
   
    padding-left:0px;
    padding-right: 0px;
  }
  /* .width_6{
    width: 180px  !important;
  } */
}
