<!-- <div class="container" style="background: unset;">
        <div class="header_bar">
                <img src="/assets/images/header/header_bar.png">
        </div>
</div> -->
<!-- <ng-container *ngIf="id!='register'&&id!='deposit'&&id!='withdraw'"> -->
<div class="container">       
        <div class="titlePage">  {{data_title}} </div>
        <div _ngcontent-rtx-c1="" class="contentPageArea">
                <div class="titleContent" [innerHTML]="data_deatail | sanitizeHtml"></div>
        </div>
</div>
        
       
        
