<div class="home_slide" style="display: block; width: 100%;">
    <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" >
        <div ngxSlickItem *ngFor="let slide of imageUrls" >
                <img src="{{ slide.url }}" alt="" width="100%">
        </div>
    </ngx-slick-carousel>
</div>

<div  class="container content_area">
        <div  class="slide_and_btn" style="display: block; width: 100%;">
            <div  class="login_area">
                <form  action="https://www.memberbet.com/chkLogin" id="flogin" method="post" novalidate="" class="ng-untouched ng-pristine ng-valid">
                    <input  class="form-control input-text" id="txtUsername" name="user" placeholder="Username" required="" type="text">
                    <input  class="form-control input-text" id="txtPassword" name="pass" placeholder="Password" required="" type="password">
                    <div  class="login_btn">เข้าสู่ระบบ</div>
                </form>
            </div>
            <div  class="text_howtoplay"> สมัครกับเราง่ายๆ </div>
            <div  class="row sport_button">
                <div  class="col no-padding" style="overflow: hidden">
                    <div  class="sport_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img  class="tt_img_df" src="assets/images/content/register1.jpg"><img  class="tt_img_hover" src="assets/images/content/register1.jpg"></div>
                </div>
                <div  class="col no-padding" style="overflow: hidden">
                    <div  class="casino_img tt_l tt_col_c banner_hover Parent fadeInLeft animated" style="animation-delay: 0.2s; "><img  class="tt_img_df" src="assets/images/content/register2.jpg"><img  class="tt_img_hover" src="assets/images/content/register2.jpg"></div>
                </div>
                <div  class="col no-padding" style="overflow: hidden">
                    <div  class="live_img tt_l tt_col_c banner_hover Parent fadeInLeft animated" style="animation-delay: 0.4s; "><img  class="tt_img_df" src="assets/images/content/register3.jpg"><img  class="tt_img_hover" src="assets/images/content/register3.jpg"></div>
                </div>
            </div>
            <div  class="divMainContent">
                <div  class="detail_Left">
                    <div  class="h1text">SANOOK928 เว็บแทงบอลออนไลน์ หวยและคาสิโนออนไลน์</div> SANOOK928.com คือเว็บ แทงบอลออนไลน์ และ แทงหวยออนไลน์ รูปแบบใหม่ที่ไม่ผ่านเอเย่น แก้ปัญหาเรื่องกางโกง จากตัวแทนต่างๆ แก้จุดบอด ของเว็บแทงบอลเดิมๆที่คุณเคยใช้งานกันอยู่ และอีกจุดเด่นหนึ่ง SANOOK928 รวมทุกอย่างไว้ในไอดีเดียวเลย อาทิเช่น ฟุตบอลและกีฬาออนไลน์ คาสิโนออนไลน์ หวยออนไลน์ ทั้งหมดเหล่านี้ อยู่ในบัญชีใช้งาน เพียงบัญชีเดียว </div>
                <div  class="detail_Right">
                       
                    <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="form-horizontal" novalidate>
                        <fieldset >
                            <div  style=" margin: auto;
                        width: 50%;
                        padding: 10px; text-align: center;">
                                <a  href="https://www.memberbet.com/" style="text-decoration: none;" target="_bank">
                                    <div  class="button_play" style="clear: right;">ทางเข้าเล่น</div>
                                </a>
                            </div>
                            <div  class="control-group" style="margin-top:0px;">
                                <label  class="control-label" for="user_name">ชื่อ</label>
                                <div  class="controls">
                                    <input  class="input-xlarge form-control" name="user_name" placeholder="ชื่อ" type="text" (ngModel)="user_name" required> 
                                </div>
                            </div>
                            <div  class="control-group">
                                <label  class="control-label" for="user_tel">โทร</label>
                                <div  class="controls">
                                    <input  class="input-xlarge form-control" name="user_tel" placeholder="โทร" type="text" (ngModel)="user_tel" required>
                                </div>
                            </div>
                            <div  class="control-group">
                                <label  class="control-label" for="user_line">ไอดีไลน์</label>
                                <div  class="controls">
                                    <input  class="input-xlarge form-control" name="user_line" placeholder="ไอดีไลน์" type="text" (ngModel)="user_line" required>
                                </div>
                            </div>
                            <div  class="control-group">
                                <div  class="controls">
                                    <button  class="btn btn-success" type="submit">สมัครสมาชิก</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div  class="row sport_button">
                <div  class="col no-padding" style="overflow: hidden">
                    <div  class="sport_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img  class="tt_img_df" src="assets/images/content/banking.jpg"><img  class="tt_img_hover" src="assets/images/content/banking.jpg"></div>
                </div>
                <div  class="col no-padding" style="overflow: hidden">
                    <div  class="casino_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img  class="tt_img_df" src="assets/images/content/line.jpg"><img  class="tt_img_hover" src="assets/images/content/line.jpg"></div>
                </div>
                <div  class="col no-padding" style="overflow: hidden">
                    <div  class="live_img tt_l tt_col_c banner_hover Parent fadeInLeft animated"><img  class="tt_img_df" src="assets/images/content/testid.jpg"><img  class="tt_img_hover" src="assets/images/content/testid.jpg"></div>
                </div>
            </div>
            <div  class="text_bottom_menu text-center-line"><span >sport &amp; casino</span></div>
            <div  class="row icon_menu icon_menu_nopadding_right">
                <div  class="col-6 hvr-push sportArea tt_l tt_col_c banner_hover Parent aos-init" data-aos="fade-up" data-aos-once="true" routerLink="/sport" tabindex="0" ng-reflect-router-link="/sport"><img  class="tt_img_df sport" src="assets/images/content/sport.jpg"></div>
                <div  class="col-6 sportArea hvr-push tt_l tt_col_c banner_hover Parent aos-init" data-aos="fade-up" data-aos-once="true" routerLink="/casino" tabindex="0" ng-reflect-router-link="/casino"><img  class="tt_img_df casino" src="assets/images/content/casino.jpg"></div>
            </div>
            <div  class="row icon_menu icon_menu_nopadding_left">
                <div  class="col-6 sportArea hvr-push tt_l tt_col_c banner_hover Parent aos-init" data-aos="fade-up" data-aos-once="true" routerLink="/lotto" tabindex="0" ng-reflect-router-link="/lotto"><img  class="tt_img_df lotto" src="assets/images/content/lotto.jpg"></div>
                <div  class="col-6 sportArea hvr-push tt_l tt_col_c banner_hover Parent aos-init" data-aos="fade-up" data-aos-once="true" routerLink="/game" tabindex="0" ng-reflect-router-link="/game"><img  class="tt_img_df game" src="assets/images/content/game.jpg"></div>
            </div>
            <div  class="row register_detail" style="padding-left:5px; padding-right:15px;">
                <div  class="col-xl-12 col-md-12 col-sm-12 sportArea live_img tt_l tt_col_c banner_hover Parent "><img  class="tt_img_df" src="assets/images/content/pic.jpg" style="width: 100%;min-height: 255px;"><img  class="tt_img_hover" src="assets/images/content/pic.jpg" style="width: 100%;min-height: 255px;"></div>
            </div>
        </div>
        <app-content-bottom ></app-content-bottom>
    </div>