<div _ngcontent-nxc-c4="" class="container">
    <div _ngcontent-nxc-c4="" class="titlePage">ทีเด็ดบอลเต็ง</div>
    <div _ngcontent-nxc-c4="" class="contentPageArea">
        <div _ngcontent-nxc-c4="" class="titleContent">
            <div _ngcontent-nxc-c4="" class="dataContentBot">
                <div _ngcontent-nxc-c4="" class="row">
                    <!--bindings={
  "ng-reflect-ng-for-of": ""
}-->
                </div>
                <div _ngcontent-nxc-c4="" class="row">
                    <div _ngcontent-nxc-c4="" class="col"></div>
                    <div _ngcontent-nxc-c4="" class="col-xl-4 col-md-6 col-sm-12">
                        <pagination-controls _ngcontent-nxc-c4="" class="pagination">
                            <pagination-template ng-reflect-max-size="7">
                                <!--bindings={
  "ng-reflect-ng-if": "true"
}-->
                                <ul class="ngx-pagination" role="navigation" aria-label="Pagination">
                                    <!--bindings={
  "ng-reflect-ng-if": "true"
}-->
                                    <li class="pagination-previous disabled">
                                        <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
                                        <!--bindings={
  "ng-reflect-ng-if": "true"
}--><span> Previous <span class="show-for-sr">page</span></span>
                                    </li>
                                    <li class="small-screen"> 1 / 1 </li>
                                    <!--bindings={
  "ng-reflect-ng-for-of": ""
}-->
                                    <!--bindings={
  "ng-reflect-ng-if": "true"
}-->
                                    <li class="pagination-next disabled">
                                        <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
                                        <!--bindings={
  "ng-reflect-ng-if": "true"
}--><span> Next <span class="show-for-sr">page</span></span>
                                    </li>
                                </ul>
                            </pagination-template>
                        </pagination-controls>
                    </div>
                    <div _ngcontent-nxc-c4="" class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>