<div  class="container">
    <div  class="titlePage">Lotto</div>
    <div  class="contentPageArea">
        <div  class="text_center text_yellow sz15">เข้าสู่ระบบโดยใช้ User ID ของคุณลูกค้า</div>
        <div  class="text_center">(เพื่อให้ง่ายต่อความเข้าใจ) กรณีเข้าหน้าเว็บแล้วเป็นภาษาอังกฤษ ให้กดเปลี่ยนภาษาเป็น "ภาษาไทย"</div>
        <div  class="img_center"><img  alt="" src="assets/images/sport/TH.jpg"></div>
        <div  class="text_center text_black  sz15 bg_animate">วิธีซื้อ ลอตเตอรี่</div>
        <div  class="titleContent">
            <div  class="dataContentBot">
                <div  class="text_h sz12">กดที่ “หวย” มุมขวาบน เลือก ลอตเตอรี่</div><img  alt="" class="img100" src="/assets/images/lotto/lotto000.jpg">
                <div  class="sz12 text_center">ลอตเตอรี่ ใบละ 80 บาท</div>
                <div  class="text_center">อัตราการจ่าย :</div>
                <div  class="text_center">รางวัลที่ 1: 6,000,000 บาท </div>
                <div  class="text_center">รางวัลที่ 2: 200,000 บาท</div>
                <div  class="text_center">ข้างเคียงรางวัลที่ 1: 100,000 บาท</div>
                <div  class="text_center">รางวัลที่ 3: 80,000 บาท</div>
                <div  class="text_center">รางวัลที่ 4: 40,000 บาท</div>
                <div  class="text_center">รางวัลที่ 5: 20,000 บาท</div>
                <div  class="text_center">เลบหน้า-เลขท้าย 3 ตัว: 4,000</div>
                <div  class="text_center">เลขท้าย 2 ตัว: 2,000</div>
                <div  class="text_center text_black  sz15 bg_animate mgt15">วิธีซื้อหวย</div>
                <div  class="text_h sz12">กดที่ “หวย” มุมขวาบน เลือก หวย</div><img  alt="" class="img100" src="/assets/images/lotto/lotto001.jpg">
                <div  class="text_h sz12">มีให้เลือกเล่น 8 แบบ</div>
                <table  style="width: 100%;text-align: center;">
                    <tbody >
                        <tr >
                            <td >3 ตัวบน - 3ตัวล่าง</td>
                            <td >2 ตัวบน - 2 ตัวล่าง</td>
                            <td >เลขวิ่ง</td>
                            <td >เลขปักหลัก</td>
                            <td >บน 2 ใน 3</td>
                            <td >บน 3 ใน 4</td>
                            <td >บน 3 ใน 5</td>
                            <td >เลขเต็ม</td>
                        </tr>
                    </tbody>
                </table><img  alt="" class="img100" src="/assets/images/lotto/lotto002.jpg">
                <div  class="text_center text_black  sz15 bg_animate mgt15">อัตราการจ่ายค่าหวย</div>
                <table  style="height: 50%;" width="100%">
                    <tbody >
                        <tr >
                            <td  style="width: 46%; text-align: center;">ประเภท</td>
                            <td  style="width: 19.0868%; text-align: center;">จ่าย</td>
                            <td  style="width: 18.9132%; text-align: center;">ลด</td>
                        </tr>
                        <tr >
                            <td  style="width: 46%; text-align: center;">&nbsp;3 ตัวบน</td>
                            <td  style="width: 19.0868%; text-align: center;">&nbsp;700</td>
                            <td  style="width: 18.9132%; text-align: center;">0</td>
                        </tr>
                        <tr >
                            <td  style="width: 46%; text-align: center;">3 ตัวบนโต๊ด</td>
                            <td  style="width: 19.0868%; text-align: center;">120</td>
                            <td  style="width: 18.9132%; text-align: center;">0&nbsp;</td>
                        </tr>
                        <tr >
                            <td  style="width: 46%; text-align: center;">&nbsp;3 ตัวบนวิ่ง</td>
                            <td  style="width: 19.0868%; text-align: center;">3</td>
                            <td  style="width: 18.9132%; text-align: center;">8&nbsp;</td>
                        </tr>
                        <tr >
                            <td  style="width: 46%; text-align: center;">2 ตัวล่างวิ่ง</td>
                            <td  style="width: 19.0868%; text-align: center;">4&nbsp;</td>
                            <td  style="width: 18.9132%; text-align: center;">8&nbsp;</td>
                        </tr>
                        <tr >
                            <td  style="width: 46%; text-align: center;">2 ตัวบน</td>
                            <td  style="width: 19.0868%; text-align: center;">75&nbsp;</td>
                            <td  style="width: 18.9132%; text-align: center;">0&nbsp;</td>
                        </tr>
                        <tr >
                            <td  style="width: 46%; text-align: center;">2 ตัวล่าง</td>
                            <td  style="width: 19.0868%; text-align: center;">75&nbsp;</td>
                            <td  style="width: 18.9132%; text-align: center;">0&nbsp;</td>
                        </tr>
                        <tr >
                            <td  style="width: 46%; text-align: center;">3ตัว ล่าง</td>
                            <td  style="width: 19.0868%; text-align: center;">120&nbsp;</td>
                            <td  style="width: 18.9132%; text-align: center;">0&nbsp;</td>
                        </tr>
                        <tr >
                            <td  style="width: 46%; text-align: center;">บน 2 ใน 3</td>
                            <td  style="width: 19.0868%; text-align: center;">10&nbsp;</td>
                            <td  style="width: 18.9132%; text-align: center;">17&nbsp;</td>
                        </tr>
                        <tr >
                            <td  style="width: 46%; text-align: center;">&nbsp;บน 3 ใน 4</td>
                            <td  style="width: 19.0868%; text-align: center;">20&nbsp;</td>
                            <td  style="width: 18.9132%; text-align: center;">17&nbsp;</td>
                        </tr>
                        <tr >
                            <td  style="width: 46%; text-align: center;">บน 3 ใน 5</td>
                            <td  style="width: 19.0868%; text-align: center;">10</td>
                            <td  style="width: 18.9132%; text-align: center;">17</td>
                        </tr>
                        <tr >
                            <td  style="width: 46%; text-align: center;">ปักหลักหน่วย</td>
                            <td  style="width: 19.0868%; text-align: center;">8</td>
                            <td  style="width: 18.9132%; text-align: center;">10</td>
                        </tr>
                        <tr >
                            <td  style="width: 46%; text-align: center;">ปักหลักสิบ</td>
                            <td  style="width: 19.0868%; text-align: center;">8</td>
                            <td  style="width: 18.9132%; text-align: center;">10</td>
                        </tr>
                        <tr >
                            <td  style="width: 46%; text-align: center;">ปักหลักร้อย</td>
                            <td  style="width: 19.0868%; text-align: center;">8</td>
                            <td  style="width: 18.9132%; text-align: center;">10</td>
                        </tr>
                    </tbody>
                </table>
                <div  class="text_center text_black  sz15 bg_animate mgt15">วิธีซื้อหวย​หุ้น</div>
                <div  class="text_h sz12">กดที่ “หวย” มุมขวาบน เลือก หวยหุ้น</div><img  alt="" class="img100" src="/assets/images/lotto/lotto003.jpg">
                <div  class="sz12 text_center">มีให้เลือกเล่น 5 แบบ</div>
                <table  style="width: 100%;text-align: center;">
                    <tbody >
                        <tr >
                            <td >2 ตัวปิดตลาดเที่ยง</td>
                            <td >เลขวิ่งปิดตลาดเที่ยง</td>
                            <td >2ตัวปิดตลาดเย็น</td>
                            <td >เลขวิ่งปิดตลาดเย็น</td>
                            <td >เลขเต็ม</td>
                        </tr>
                    </tbody>
                </table><img  alt="" class="img100" src="/assets/images/lotto/lotto004.jpg">
                <div  class="text_center text_black  sz15 bg_animate mgt15">อัตราการจ่ายค่าหวย</div>
                <div  class="elementor-text-editor elementor-clearfix">
                    <table  style="height: 50%;" width="100%">
                        <tbody >
                            <tr >
                                <td  style="width: 60.7119%; text-align: center;">ประเภท</td>
                                <td  style="width: 14.2881%; text-align: center;">จ่าย</td>
                                <td  style="width: 14%; text-align: center;">ลด</td>
                            </tr>
                            <tr >
                                <td  style="width: 60.7119%; text-align: center;">2 ตัว ปิดตลาดเที่ยง</td>
                                <td  style="width: 14.2881%; text-align: center;">80</td>
                                <td  style="width: 14%; text-align: center;">10</td>
                            </tr>
                            <tr >
                                <td  style="width: 60.7119%; text-align: center;">ปิดตลาดเที่ยง วิ่ง</td>
                                <td  style="width: 14.2881%; text-align: center;">4</td>
                                <td  style="width: 14%; text-align: center;">10</td>
                            </tr>
                            <tr >
                                <td  style="width: 60.7119%; text-align: center;">2 ตัว ปิดตลาดเย็น</td>
                                <td  style="width: 14.2881%; text-align: center;">80</td>
                                <td  style="width: 14%; text-align: center;">10</td>
                            </tr>
                            <tr >
                                <td  style="width: 60.7119%; text-align: center;">ปิดตลาดเย็น วิ่ง</td>
                                <td  style="width: 14.2881%; text-align: center;">4</td>
                                <td  style="width: 14%; text-align: center;">10</td>
                            </tr>
                        </tbody>
                    </table>
                    <p  style="text-align: center;"><span  style="color: #ffcc00;"># กรณีแทงเลขเบิ้ลแทง 1 จ่าย 70 บาท</span></p>
                    <p  style="text-align: center;"><span  style="color: #ffcc00; text-align: center;"># 1 รหัสสมาชิก สามารถแทงได้สูงสุด 5 เลข ต่อรอบการเปิดแทง</span></p>
                </div>
                <div  class="text_center text_black  sz15 bg_animate mgt15">วิธีซื้อหวยลาว</div><img  alt="" class="img100" src="/assets/images/lotto/lotto005.jpg">
                <div  class="text_h sz12">มีให้เลือกเล่น 4 แบบ</div>
                <table  style="width: 100%;text-align: center;">
                    <tbody >
                        <tr >
                            <td >3-2 ตัวบน - โต๊ด</td>
                            <td >1 ตัววิ่ง</td>
                            <td >สูง - ต่ำ</td>
                            <td >คู่ - คี่</td>
                        </tr>
                    </tbody>
                </table>
                <div  class="sz12 text_center">เช็คผล ที่มุมขวาบน "ผลรางวัล"</div><img  alt="" class="img100" src="/assets/images/lotto/lotto006.jpg">
                <div  class="text_center text_black  sz15 bg_animate mgt15">อัตราการจ่ายค่าหวย</div>
                <div  class="elementor-text-editor elementor-clearfix">
                    <table  style="height: 50%;" width="100%">
                        <tbody >
                            <tr >
                                <td  style="width: 58%; text-align: center;">ประเภท</td>
                                <td  style="width: 17.1864%; text-align: center;">จ่าย</td>
                                <td  style="width: 15.8136%; text-align: center;">ลด</td>
                            </tr>
                            <tr >
                                <td  style="width: 58%; text-align: center;">3 ตัวบน</td>
                                <td  style="width: 17.1864%; text-align: center;">550</td>
                                <td  style="width: 15.8136%; text-align: center;">0</td>
                            </tr>
                            <tr >
                                <td  style="width: 58%; text-align: center;">3 ตัวโต๊ด</td>
                                <td  style="width: 17.1864%; text-align: center;">105</td>
                                <td  style="width: 15.8136%; text-align: center;">0</td>
                            </tr>
                            <tr >
                                <td  style="width: 58%; text-align: center;">2 ตัวบน</td>
                                <td  style="width: 17.1864%; text-align: center;">70</td>
                                <td  style="width: 15.8136%; text-align: center;">0</td>
                            </tr>
                            <tr >
                                <td  style="width: 58%; text-align: center;">2 ตัวโต๊ด</td>
                                <td  style="width: 17.1864%; text-align: center;">12</td>
                                <td  style="width: 15.8136%; text-align: center;">0</td>
                            </tr>
                            <tr >
                                <td  style="width: 58%; text-align: center;">1 ตัววิ่ง</td>
                                <td  style="width: 17.1864%; text-align: center;">3</td>
                                <td  style="width: 15.8136%; text-align: center;">0</td>
                            </tr>
                            <tr >
                                <td  style="width: 58%; text-align: center;">สูง – ต่ำ</td>
                                <td  style="width: 17.1864%; text-align: center;">1.90</td>
                                <td  style="width: 15.8136%; text-align: center;">0</td>
                            </tr>
                            <tr >
                                <td  style="width: 58%; text-align: center;">คู่ – คี่</td>
                                <td  style="width: 17.1864%; text-align: center;">1.90</td>
                                <td  style="width: 15.8136%; text-align: center;">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>