<div  class="container">
    <div  class="titlePage">SPORT</div>
    <div  class="contentPageArea">
        <div  class="text_center text_yellow sz15">เข้าสู่ระบบโดยใช้ User ID ของคุณลูกค้า</div>
        <div  class="text_center">(เพื่อให้ง่ายต่อความเข้าใจ) กรณีเข้าหน้าเว็บแล้วเป็นภาษาอังกฤษ ให้กดเปลี่ยนภาษาเป็น "ภาษาไทย"</div>
        <div  class="img_center"><img  alt="" src="assets/images/sport/TH.jpg"></div>
        <div  class="text_center text_black  sz15 bg_animate">วิธีแทงบอลออนไลน์สำหรับผู้เริ่มต้น</div>
        <div  class="titleContent">
            <div  class="dataContentBot">
                <div  class="row">
                    <ng-container *ngFor="let menu of todoList; index as  i; first as isFirst;let l = count">
                      
                        <div  class="col-xl-4 col-md-6 col-sm-12 newsArea hvr-box-shadow-inset" tabindex="0" [routerLink]='["/sport/sport-detail","-"+menu.adjust_page_id]'>
                            <div  class="cardNews">
                                <div  class="image-news"  style="background-image: url('/upload/files/{{menu.adjust_page_image_name}}.{{menu.adjust_page_image_type}}');">
                                    <img src="/upload/files/{{menu.adjust_page_image_name}}.{{menu.adjust_page_image_type}}" style="width: 100%;padding: 10px;" alt="">
                                </div>
                                <div  class="text-news ">
                                    <div  class="center">
                                        <div  class="button hvr-rectangle-out hvr-icon-forward" href="#">คลิกเพื่อดูวิธีเล่น <i  class="fa fa-chevron-circle-right hvr-icon"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-container>



                </div>
            </div>
        </div>
    </div>
</div>