
<div _ngcontent-vcv-c0="" class="topArea">
    <div _ngcontent-vcv-c0="" class="container" id="outer">
        <div _ngcontent-vcv-c0="" class="" id="inner"><img _ngcontent-vcv-c0="" src="/assets/images/logo/logo.png"></div>
    </div>
</div>
<app-navbar ></app-navbar>
<div class="content ">
        <router-outlet></router-outlet>
      </div>
<!-- <div class="m_footer col-xs-12">
    <div class="col-xs-3" routerLink="/home"><img src="assets/images/footer/icon-home.png"></div>
    <div class="col-xs-3" ><a href="http://line.me/ti/p/~@ufavip9" target="_bank"><img src="assets/images/footer/icon-line.png"></a></div>
    <div class="col-xs-3" routerLink="/promotion"><img src="assets/images/footer/icon_guide.png"></div>
    <div class="col-xs-3" routerLink="/page/register" ><img src="assets/images/footer/icon_add.png"></div>
</div>
<app-footer ></app-footer> -->
