<div _ngcontent-gcd-c6="" class="container">
    <div _ngcontent-gcd-c6="" class="titlePage">ออสนาบรุ๊ค VS อาร์มีเนีย บีเลเฟลด์</div>
    <div _ngcontent-vcv-c10="" class="contentPageArea">
        <div _ngcontent-vcv-c10="" class="row">
            <div _ngcontent-vcv-c10="" class="col"></div>
            <div _ngcontent-vcv-c10="" class="col-xl-6 col-md-6 col-sm-12 newsArea image-news"  style="background-image: url({{adjust_page_image_url}});">
                <img src="{{adjust_page_image_url}}" style="width: 100%;padding: 10px;" alt="">
            </div>
            <div _ngcontent-vcv-c10="" class="col"></div>
        </div>
        <div class="titleContent" [innerHTML]="adjust_page_description | sanitizeHtml"></div>
    </div>
</div>